.body {
  color: #fff;
  display: flex;
  flex-direction: column;

}

.header {
  width: 100%;
  background-color: #1B2944;
}

.header__content {
  width: 944px;
  margin: 40px 168px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__list {
  list-style: none;
  display: flex;
  gap: 16px;
}


.main {
  background-color: antiquewhite;
}

.person__content {
  background-color: #1B2944;
  height: 100%;
}

.person {
  padding: 88px 168px 80px;
  display: flex;
  gap: 96px;
}

.title {
  display: block;
}

.title_profession {
  padding-top: 32px;
  color: #ffbb01;
  font-size: 24px;
  font-weight: normal;
}

.title_fio {
  padding-top: 12px;
  font-size: 50px;
}

.activity {
  padding-top: 24px;
  line-height: 180%;
}

.button {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1B2944;
  border: 0;
  border-radius: 6px;
  background-color: #ffbb01;
  box-shadow: 0 4px 0 0 #b68500;
  height: 66px;
}

.person__button {
  margin-top: 36px;
  width: 300px;

}

.service {
  background-color: #141F35;
}
.service__block {
  padding: 88px 168px 95px;
}

.title_size_m {
  font-size: 36px;
}

.service__title {
  padding-top: 15px;
  font-size: 24px;
  line-height: 28px;
}

.service__text-info {
  padding-top: 16px;
  line-height: 28px;
}

.service__list {
  list-style: none;
  display: grid;
  margin-top: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 16px;
  row-gap: 48px;
}

.projects__block-top {
  background-color: #1B2944;
  padding: 88px 168px;
}

.projects__list {
  padding-top: 48px;
  list-style: none;
  display: flex;
  gap: 16px;
}


.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  width: 304px;
  height: 304px;
  padding-left: 32px;
  padding-bottom: 32px;
}

.projects__title {
  font-size: 18px;
  line-height: 28px;
}

.projects__button {
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin-top: 16px;
  background-color: #ec1f46;
  width: 120px;
  height: 36px;
  border-radius: 6px;
  box-shadow: 0px 2px 0px 0px #CE1C3E;
}

.projects__background {
  background-size: cover;
  background-position: center;
}

.projects__image1 {
  background-image: url(../images/proj-img1.png);
}

.projects__image2 {
  background-image: url(../images/proj-img2.png);
}

.projects__image3 {
  background-image: url(../images/proj-img3.png);
}

.media {
  background-color: #141F35;
}

.media__data {
  list-style: none;
  display: grid;
  padding: 88px 168px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 0px;
}

.media__photo {
  width: 224px;
  height: 224px;
}

.footer__container {
  padding: 88px 168px;
  background-color: #1B2944;
}

.footer__data {
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
}

.footer__form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 38px 32px 42px;
  width: 464px;
  border-radius: 5px;
  box-shadow: -5px 5px 0px 0px #FFC41D;
}

.address {
  width: 384px;
}

.form__text {
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
}

.form__input {
  margin: 0;
  border: 0;
  border-radius: 6px;
  background-color: #F8F8F8;
  box-shadow: 0px 3px 10px 0px #C7C7C740 inset;
  font-size: 14px;
  line-height: 28px;
}

.form__input_name {
  margin-top: 16px;
  padding: 22px 35px 20px 32px;
}

.form__input_phone {
  margin-top: 16px;
  padding: 22px 35px 20px 32px;
}

.form__button {
  margin-top: 32px;
}
